body{
	margin: 0px;
}

#story {
	background-color: #B2C1D1;
	position: absolute;
	font-size: 200%;
	top: 0;
	left: 0;
	right: 20%;
	bottom: auto;
}

#story p {
	padding: 5px;
}

h1, p {
	font-family: sans-serif;
}
#social_media_bar{
	background-color: #003366;
	position: fixed;
	top: 0;
	left: 80%;
	right: 0;
	bottom: 0;
}

.social_media_img img{
	position: relative;
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 25%;

}

#main, #second {
	position: relative;
	font-size: 200%;
	float: left;
	width: 40%;
	height: 100%;
	top: 0;
	bottom: 0;
}

#main{
	background-color: #E18360;
}

#second {
	background-color: #e1ae60;
	height: auto;
}

#gallery img {
	float: left;
}